* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  clear: both;
}
a{
  text-decoration: none;
}
.red {
  color: #ff5c5c;
}
.blue {
  color: #55b7ff;
}
/* SCROLLLBAR*/
::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(194, 194, 194, 0.315);
}
::-webkit-scrollbar-thumb {
  background: rgb(227, 227, 253);
  border-radius: 500px;
}
body {
  background: #333333;
  font-family: "Noto Sans", sans-serif;
  color: white;
  min-width: 200px;
  min-height: 568px;
}
/*Home Section*/
.greeting {
  font-family: "Rubik";
  font-size: 7.3vw;
  text-align: center;
  line-height: 1.3em;
  padding: 15px;
  font-weight: 500;
}
/*Home section buttons*/
.btn {
  width: 150px;
  height: 60px;
  border: 3px solid #ccc;
  text-align: center;
  cursor: pointer;
  line-height: 57px;
  font-size: 1.5em;
  border-radius: 5px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.137);
  transition: background-color 0.3s;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.384);
}
/*Navigation*/

.nav-button-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}
.nav-button-container .btn {
  align-self: center;
  width: 90%;
  margin-top: 30px;
  font-size: 1.5em;
  height: 15vh;
  line-height: 15vh;
  max-height: 100px;
  min-height: 70px;
  max-width: 700px;
}
.home {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
section,
.home {
  min-height: 100vh;
}
@media only screen and (min-height: 680px) {
  .nav-button-container .btn {
    line-height: 100px;
  }
}
@media only screen and (max-height: 456px) {
  .nav-button-container .btn {
    line-height: 70px;
  }
}
@media only screen and (min-width: 780px) {
  .greeting {
    margin-bottom: 50px;
    font-size: 2.8em;
  }
  .nav-button-container {
    flex-flow: row;
    margin-bottom: 100px;
  }
  .nav-button-container .btn {
    width: 150px;
    min-height: 60px; /*needs important*/
    height: 60px;
    padding: 0;
    margin: 0;
    line-height: 54px;
    margin-right: 100px;
  }
  .nav-button-container .btn {
    transition: background-color 0.3s, transform 0.2s;
  }
  .nav-button-container .btn:hover {
    transform: scale(1.1);
  }
  .nav-button-container .btn:last-of-type {
    margin: 0; /*important*/
  }
}


/*Navigation*/
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 40px;
  height: 3px;
  background: white;
  margin: 9px 0;
  transition: transform 0.3s, opacity 0.2s;
}
.nav-bar {
  position: fixed;
  top: 0;
  background: #464646;
  padding: 20px;
  transform: translateY(-85px);
  width: 100%;
  transition: transform 0.3s;
  z-index: 1;
}
* {
  user-select: none;
}
.shown {
  transform: translateY(0px);
}
.nav-bar ul {
  list-style: none;
}
.nav-bar li {
  display: inline;
  font-size: 1.5em;
  font-family: "Rubik";
  font-weight: 500;
  margin-right: 40px;
  cursor: pointer;
  transition: color 0.2s;
  user-select: none;
}
.nav-bar ul li:hover {
  color: #55b7ff !important;
}
.scroll-status {
  width: 100vw;
  right: 0;
  background-color: #55b7ff;
  position: absolute;
  bottom: 0;
  padding: 2px;
}
.status-circle {
  height: 15px;
  width: 15px;
  background-color: #55b7ff;
  position: fixed;
  margin-top: -7.5px;
  border-radius: 100%;
  transition: transform .2s;
}
.mobile-nav {
  position: fixed;
  width: 100vw;
  height: 20vh;
  top: 0;
  background: #333333;
}
nav h2 {
  position: absolute;
  top: 16px;
  left: 70px;
  font-size: 2em;
  font-family: "Rubik";
  font-weight: 500;
  display: none;
}
.top {
  position: absolute;
  top: 0;
  height: 0;
  width: 0;
}
@media only screen and (max-width: 780px) {
  .nav-bar {
    overflow: hidden;
    height: 70px;
    transition: height 0.2s, transform 0.3s;
  }
  .nav-bar li {
    display: block;
    float: left;
    clear: left;
  }
  #sectionDisplay {
    user-select: none;
  }
  .hamburger {
    display: inline-block;
    margin-top: -7px;
  }
  nav h2 {
    display: block;
  }
  .close div:first-child {
    transform: rotate(-51deg) translateX(-16px);
  }
  .close div:nth-child(2) {
    opacity: 0;
  }
  .close div:last-child {
    transform: rotate(49deg) translateX(-15px);
  }
  .status-circle {
    display: none;
  }
}
/*SKILLS SECTION*/
.skills {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  align-content: center;
  margin: 0 auto;
}
.contact {
  margin: 0;
}
.skill-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 0px;
}
.backend {
  margin-top: 60px;
}
img {
  width: 100%;
}
.info {
  background: #2d2d2d;
  font-size: 2vw;
  padding: 1em;
  border-radius: 5px;
  margin-top: 36px;
  font-size: 5vw;
  font-weight: 200;
  font-family: "Nunito";
  border: 2px #ccc solid;
}
.skill-section h2 {
  font-family: "Rubik";
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 6vw;
  color: #ff5c5c;
}
.skill-section p {
  font-size: 5vw;
  width: 100%;
  font-family: "Nunito";
}
@media only screen and (min-width: 680px) {
  .info{
    font-size: 2em;
  }
  .skill-section h2{
    font-size: 2.3em;
  }
  .skill-section p{
    font-size: 2em;
  }
}

.backend h2 {
  color: #55b7ff;
}
/*Projects Section*/
.projects{
  width:90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.project-card{
  margin-bottom:50px;
}
.project-card:first-of-type{
  margin-top: 66px;
}
.project-btn {
  width:100%;
  border: 2px white solid;
  padding: .6em;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin-top:10px;
  color:white;
}

.tech-used{
  display:inline-block;
  list-style: none;
}
.tech-used li{
  padding:.3em;
  padding-right:.5em;
  padding-left:.5em;
  display:inline-block;
  border-radius: 10px;
  background:white;
  color:#3D3D3D;
  font-family: 'Rubik';
  font-weight: 500;
  margin: 3px;
}
.github{
  text-align: center;
}
.github-icon{
    fill: rgb(230, 230, 230);
    margin: 0 auto;
}
.projects-container{
  display: inline-block;
}
@media only screen and (min-width: 780px) {
 .project-card img{
    width:100%;
  }
}
@media only screen and (min-width: 780px) {
  .row{
    width:auto;
    display: inline-block;
    display: flex;
  }
  .project-card{
    width:30vw;
    max-width:550px;
  }
  .projects{
    width:100%;
  }



}
@media only screen and (min-width: 780px) {
  .projects{
    margin: 0;
  }

  .project-card{
    margin-bottom:50px;
    margin:5em;
  }
  .row:nth-child(2){
    align-self: flex-end;
    margin:0;

  }
}
/*Contact Section*/
.contact{
  display: flex;
  flex-flow: column;
  justify-content: center;
  line-height: 60px;
  width: 100%;
  font-family: 'Noto Sans';
}

.copy-btn{
  transform:none;
  height:60px;
  animation: none;
  border-color: #55b7ff;
  color: #55b7ff;
  margin-top:15px;
  line-height: 53px;
  transition: transform .1s;
}
.copy-btn:hover{
  background-color: #333333;
}

@media only screen and (min-width: 780px) {
  .copy-btn:hover{
    transform: scale(1.1)
  }
}

.contact-info{
  align-self: center;
  font-family: 'Noto Sans';
}
.contact-info h2{
  font-size: 8vw;
}
.contact-info p{
 font-size: 6vw;
 margin-top:10px;
}
.contact-info p:last-child{
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 5vw;
}
.contact-info .email{
 
  font-size: 5.5vw;
}
@media only screen and (min-width: 600px) {
  .contact-info h2{
    font-size: 3em;
  }
  .contact-info p{
   font-size: 2.2em;
  }
  .contact-info p:last-child{
    font-size: 2em;
   }
  .contact-info .email{
    font-size: 2.1em
  }
}
.input-email{
  color:#333333;
  background: #333333;
  border:none;
  position: fixed;
  bottom:-100px;
  cursor: default;
  right:0;
}
/*Back to top*/
.back-to-top{
  position: fixed;
  bottom:0;
  right:5px;
  margin:20px;
  height:50px;
  width:50px;
  transform: rotateX(90deg);
  transition: transform .2s;
  background: #242424;
  border-radius: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 780px) {
  .back-to-top:hover > .up-arrow{
    transform: translate(-20px, 15px) rotate(-3deg);
  }
}

.up-arrow{
  transform: translate(-20px, 19px) rotate(-3deg);
  transition: transform .2s;
}
.up-arrow div{
  width:30px;
  background-color: white;
  height:10px;
  border-radius:100px;
}
.up-arrow div:nth-child(1){
  transform:rotate(134deg) translate(-15px, -18px);
}
.up-arrow div:last-child{
  transform:translate(37px, -8px) rotate(55deg);
}
